:root{
    --Cyan: hsl(180, 66%, 49%);
    --Dark_Violet: hsl(257, 27%, 26%);
    --Red: hsl(0, 87%, 67%);
    --Gray: hsl(0, 0%, 75%);
    --Grayish_Violet: hsl(257, 7%, 63%);
    --Very_Dark_Blue: hsl(255, 11%, 22%);
    --Very_Dark_Violet: hsl(260, 8%, 14%);

}
.container__sectionDos{
    background-color: var(--Gray);  
    padding: 0px 0px 100px;
}
.container__text-sectionDos{
    margin-top: 60px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.sectionDos__title{
    font-weight: bold;
    font-size: 20px;
}
.container__cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
   
   
}
.subContainer__cart{
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    gap: 10px;

    position: relative;

}

.sectionDos__imgGrafico{
    position: absolute;
    top: -30px;
    background-color: var(--Dark_Violet);
    padding: 10px;
    border-radius: 50% 50%;
    
}

.sectionDos__imgVela{
    position: absolute;
    top: -30px;
    background-color: var(--Dark_Violet);
    padding: 10px;
    border-radius: 50% 50%;
     
}
.sectionDos__imgPincel{
    position: absolute;
    top: -30px;
    background-color: var(--Dark_Violet); 
    padding: 10px;
    border-radius: 50% 50%;
}
.text__cart{
    color: var(--Grayish_Violet);
}
.title__cart{
    margin-top: 50px;
    color: var( --Very_Dark_Violet);
    font-weight: bold;
    font-size: 20px;
}
.container__cart .subContainer__cart:nth-child(2){
    margin-top: 60px;
}
.container__cart .subContainer__cart:nth-child(3){
    margin-top: 120px;
}
@media (max-width: 720px) {
    .sectionDos__imgGrafico{
         margin-left: 100px; 
        
    }
    .sectionDos__imgVela{
        margin-left: 100px;
         
    }
    .sectionDos__imgPincel{
        margin-left: 100px;
    }

  }

